# Data matrix creation

## Read individual files

In [1]:
import os
import pandas as pd


vitals_column_names = ['patientunitstayid', 'observationday', 'systemic_mean', 'systemic_diastolic', 'systemic_systolic', 'respiration', 'heartrate', 'sao2']
labs_column_names = ['person_id', 'visit_occurrence_id', 'measurement_date', 'Sodium level', 'Blood urea nitrogen', 'Creatinine level', 'Potassium level', 'Chloride', 'Hematocrit', 'Haemoglobin estimation', 'Platelet count', 'Red blood cell count', 'Calcium level', 'MCV - Mean corpuscular volume', 'MCHC - Mean corpuscular haemoglobin concentration', 'MCH - Mean corpuscular haemoglobin', 'White blood cell count', 'Red blood cell distribution width', 'Glucose level', 'Bicarbonate level', 'Anion gap']
vitals_avg =  pd.read_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '''/data/cleaned/vitals_avg_episode_date.csv''')[vitals_column_names]
vitals_min =  pd.read_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '''/data/cleaned/vitals_min_episode_date.csv''')[vitals_column_names]
vitals_max =  pd.read_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '''/data/cleaned/vitals_max_episode_date.csv''')[vitals_column_names]
vitals_first =  pd.read_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '''/data/cleaned/vitals_first_episode_date.csv''')[vitals_column_names]
vitals_last =  pd.read_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '''/data/cleaned/vitals_last_episode_date.csv''')[vitals_column_names]
labs_avg =  pd.read_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '''/data/cleaned/labs_avg_episode_date.csv''')[labs_column_names]
labs_min =  pd.read_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '''/data/cleaned/labs_min_episode_date.csv''')[labs_column_names]
labs_max =  pd.read_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '''/data/cleaned/labs_max_episode_date.csv''')[labs_column_names]
labs_first =  pd.read_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '''/data/cleaned/labs_first_episode_date.csv''')[labs_column_names]
labs_last =  pd.read_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '''/data/cleaned/labs_last_episode_date.csv''')[labs_column_names]
admissions = pd.read_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '''/data/extracts/admissions.csv''')

In [2]:
vitals_min.shape, vitals_max.shape, vitals_avg.shape, vitals_first.shape, vitals_last.shape

((552141, 8), (552141, 8), (552141, 8), (552141, 8), (552141, 8))

In [3]:
labs_min.shape, labs_max.shape, labs_avg.shape, labs_first.shape, labs_last.shape

((113842, 21), (113842, 21), (113842, 21), (113842, 21), (113842, 21))

In [4]:
admissions.shape

(12694, 4)

In [5]:
admissions["visit_start_date"] = pd.to_datetime(admissions["visit_start_date"])

In [6]:
def formatVitalsData(vitals_df):

    from datetime import timedelta

    vitalsDf = pd.merge(vitals_df, admissions, how='inner', left_on='patientunitstayid', right_on='visit_occurrence_id')
    vitalsDf['measurement_date'] = vitalsDf.apply(lambda x: x[10] + timedelta(days=x[1]), axis=1)
    vitalsDf = vitalsDf[['person_id', 'visit_occurrence_id', 'measurement_date', 'systemic_mean', 'systemic_diastolic', 'systemic_systolic', 'respiration', 'heartrate', 'sao2']]
    return vitalsDf

In [7]:
def formatLabsData(labs_df):

    labsDf = pd.merge(labs_df, admissions, how='inner', left_on=['person_id', 'visit_occurrence_id'], right_on=['person_id', 'visit_occurrence_id'])
    labsDf['measurement_date'] = pd.to_datetime(labsDf["measurement_date"])
    labsDf = labsDf[labs_column_names]
    return labsDf

In [8]:
vitals_avg = formatVitalsData(vitals_avg)
vitals_min = formatVitalsData(vitals_min)
vitals_max = formatVitalsData(vitals_max)
vitals_first = formatVitalsData(vitals_first)
vitals_last = formatVitalsData(vitals_last)

In [9]:
labs_avg = formatLabsData(labs_avg)
labs_min = formatLabsData(labs_min)
labs_max = formatLabsData(labs_max)
labs_first = formatLabsData(labs_first)
labs_last = formatLabsData(labs_last)

In [10]:
vitals_min.shape, vitals_max.shape, vitals_avg.shape, vitals_first.shape, vitals_last.shape

((62447, 9), (63135, 9), (62533, 9), (62568, 9), (62415, 9))

In [11]:
labs_min.shape, labs_max.shape, labs_avg.shape, labs_first.shape, labs_last.shape

((113842, 21), (113842, 21), (113842, 21), (113842, 21), (113842, 21))

In [12]:
admissions.shape

(12694, 4)

In [13]:
admissions

       person_id  visit_occurrence_id visit_start_date  death
0         210009               224606       2014-07-13      0
1         210052               151900       2014-11-02      0
2         210079               151179       2014-05-10      0
3         210300               145917       2015-05-04      0
4         210300               210208       2015-06-04      0
...          ...                  ...              ...    ...
12689     358850              3336321       2015-10-24      0
12690     358879              3338553       2015-02-28      0
12691     359296              3337594       2015-04-16      0
12692     359430              3351293       2015-04-24      1
12693     359729              3352711       2015-03-28      0

[12694 rows x 4 columns]

In [14]:
vitals_avg

,person_id,visit_occurrence_id,measurement_date,systemic_mean,systemic_diastolic,systemic_systolic,respiration,heartrate,sao2
0,248364,141515,2014-04-04,65.344086,47.924731,105.265233,25.763066,89.777003,96.218638
1,248364,141515,2014-04-05,68.147368,51.291228,99.049123,23.763889,101.937500,98.752613
2,248364,141515,2014-04-06,78.180556,57.565972,111.343750,23.731707,109.117021,97.958333
3,248364,141515,2014-04-07,82.724739,57.696864,123.606272,33.772727,79.000000,99.809028
4,248364,141515,2014-04-08,75.000000,53.103306,114.359504,30.335664,81.479021,99.752613
...,...,...,...,...,...,...,...,...,...
62528,3521842,3352884,2014-01-30,73.849266,50.696327,127.106241,21.030612,82.459184,98.234694
62529,358073,3352922,2015-06-01,72.429688,54.640625,105.199219,14.142857,76.299652,99.982456
62530,358073,3352922,2015-06-02,78.000000,64.023256,97.302326,17.929821,77.197917,99.989583
62531,358073,3352922,2015-06-03,106.010242,78.054524,160.937190,19.117647,97.704861,100.000000
62532,358073,3352922,2015-06-04,77.213459,57.167058,122.454294,19.329032,99.529032,99.793333

In [15]:
labs_avg

,person_id,visit_occurrence_id,measurement_date,Sodium level,Blood urea nitrogen,Creatinine level,Potassium level,Chloride,Hematocrit,Haemoglobin estimation,...,Red blood cell count,Calcium level,MCV - Mean corpuscular volume,MCHC - Mean corpuscular haemoglobin concentration,MCH - Mean corpuscular haemoglobin,White blood cell count,Red blood cell distribution width,Glucose level,Bicarbonate level,Anion gap
0,248364,141515,2014-04-03,129.500000,70.5,2.740,4.40,93.000000,42.05,14.5,...,4.555,9.45,92.3,34.45,31.8,2.9,15.35,79.5,23.5,17.5
1,248364,141515,2014-04-04,132.666667,74.5,2.215,3.74,104.666667,39.50,13.8,...,4.370,8.70,90.4,34.90,31.6,3.8,15.50,89.0,19.0,13.0
2,248364,141515,2014-04-05,136.000000,72.0,1.880,3.30,104.000000,30.30,10.4,...,3.290,7.60,92.1,34.30,31.6,6.5,16.70,105.5,21.0,14.0
3,248364,141515,2014-04-06,141.000000,60.0,1.440,4.40,110.000000,30.60,10.3,...,3.340,7.90,91.6,33.70,30.8,12.9,17.30,105.0,22.0,13.0
4,248364,141515,2014-04-07,143.000000,51.0,1.130,3.70,113.000000,28.70,9.7,...,3.140,8.20,91.4,33.80,30.9,11.7,17.00,123.0,22.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113837,358073,3352922,2015-06-07,149.000000,13.0,1.360,3.55,110.000000,34.00,11.4,...,3.880,8.90,88.0,33.00,29.0,4.8,16.70,123.0,31.0,8.0
113838,358073,3352922,2015-06-08,150.000000,12.0,1.350,3.50,110.000000,35.00,11.3,...,3.980,8.90,88.0,32.00,28.0,5.3,17.50,119.0,32.0,8.0
113839,358073,3352922,2015-06-09,149.000000,11.0,1.290,3.45,111.000000,37.00,12.0,...,4.160,8.80,89.0,33.00,29.0,4.4,17.80,172.0,31.0,7.0
113840,358073,3352922,2015-06-10,149.000000,11.0,1.300,3.55,113.000000,37.00,12.0,...,4.150,8.80,89.0,33.00,29.0,5.8,18.00,151.0,28.0,8.0
113841,358073,3352922,2015-06-11,147.000000,12.0,1.350,3.70,113.000000,36.00,12.1,...,4.050,8.50,89.0,34.00,30.0,6.6,18.30,122.0,27.0,7.0

## Merge all the files

In [18]:
import pandas as pd


mergedDf = pd.concat([vitals_avg, vitals_min, vitals_max, vitals_first, vitals_last, labs_avg, labs_min, labs_max, labs_first, labs_last], ignore_index=True)
mergedDf = mergedDf.drop_duplicates(subset=['person_id', 'visit_occurrence_id', 'measurement_date'])
mergedDf = mergedDf[['person_id', 'visit_occurrence_id', 'measurement_date']]

mergedDf = pd.merge(mergedDf, admissions.add_suffix('_adm'), how='inner', left_on=['person_id', 'visit_occurrence_id'], right_on=['person_id_adm', 'visit_occurrence_id_adm'])
mergedDf = mergedDf.drop(['person_id_adm', 'visit_occurrence_id_adm'], axis = 1)
mergedDf = pd.merge(mergedDf, vitals_avg.add_suffix('_avg').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_avg', 'vitals_visit_occurrence_id_avg', 'vitals_measurement_date_avg'])
mergedDf = mergedDf.drop(['vitals_person_id_avg', 'vitals_visit_occurrence_id_avg', 'vitals_measurement_date_avg'], axis = 1)
mergedDf = pd.merge(mergedDf, vitals_min.add_suffix('_min').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_min', 'vitals_visit_occurrence_id_min', 'vitals_measurement_date_min'])
mergedDf = mergedDf.drop(['vitals_person_id_min', 'vitals_visit_occurrence_id_min', 'vitals_measurement_date_min'], axis = 1)
mergedDf = pd.merge(mergedDf, vitals_max.add_suffix('_max').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_max', 'vitals_visit_occurrence_id_max', 'vitals_measurement_date_max'])
mergedDf = mergedDf.drop(['vitals_person_id_max', 'vitals_visit_occurrence_id_max', 'vitals_measurement_date_max'], axis = 1)
mergedDf = pd.merge(mergedDf, vitals_first.add_suffix('_first').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_first', 'vitals_visit_occurrence_id_first', 'vitals_measurement_date_first'])
mergedDf = mergedDf.drop(['vitals_person_id_first', 'vitals_visit_occurrence_id_first', 'vitals_measurement_date_first'], axis = 1)
mergedDf = pd.merge(mergedDf, vitals_last.add_suffix('_last').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_last', 'vitals_visit_occurrence_id_last', 'vitals_measurement_date_last'])
mergedDf = mergedDf.drop(['vitals_person_id_last', 'vitals_visit_occurrence_id_last', 'vitals_measurement_date_last'], axis = 1)
mergedDf = pd.merge(mergedDf, labs_avg.add_suffix('_avg').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_avg', 'labs_visit_occurrence_id_avg', 'labs_measurement_date_avg'])
mergedDf = mergedDf.drop(['labs_person_id_avg', 'labs_visit_occurrence_id_avg', 'labs_measurement_date_avg'], axis = 1)
mergedDf = pd.merge(mergedDf, labs_min.add_suffix('_min').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_min', 'labs_visit_occurrence_id_min', 'labs_measurement_date_min'])
mergedDf = mergedDf.drop(['labs_person_id_min', 'labs_visit_occurrence_id_min', 'labs_measurement_date_min'], axis = 1)
mergedDf = pd.merge(mergedDf, labs_max.add_suffix('_max').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_max', 'labs_visit_occurrence_id_max', 'labs_measurement_date_max'])
mergedDf = mergedDf.drop(['labs_person_id_max', 'labs_visit_occurrence_id_max', 'labs_measurement_date_max'], axis = 1)
mergedDf = pd.merge(mergedDf, labs_max.add_suffix('_first').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_first', 'labs_visit_occurrence_id_first', 'labs_measurement_date_first'])
mergedDf = mergedDf.drop(['labs_person_id_first', 'labs_visit_occurrence_id_first', 'labs_measurement_date_first'], axis = 1)
mergedDf = pd.merge(mergedDf, labs_max.add_suffix('_last').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_last', 'labs_visit_occurrence_id_last', 'labs_measurement_date_last'])
mergedDf = mergedDf.drop(['labs_person_id_last', 'labs_visit_occurrence_id_last', 'labs_measurement_date_last'], axis = 1)
mergedDf = mergedDf.dropna()
mergedDf

,person_id,visit_occurrence_id,measurement_date,visit_start_date_adm,death_adm,vitals_systemic_mean_avg,vitals_systemic_diastolic_avg,vitals_systemic_systolic_avg,vitals_respiration_avg,vitals_heartrate_avg,...,labs_Red blood cell count_last,labs_Calcium level_last,labs_MCV - Mean corpuscular volume_last,labs_MCHC - Mean corpuscular haemoglobin concentration_last,labs_MCH - Mean corpuscular haemoglobin_last,labs_White blood cell count_last,labs_Red blood cell distribution width_last,labs_Glucose level_last,labs_Bicarbonate level_last,labs_Anion gap_last
0,248364,141515,2014-04-04,2014-04-04,0,65.344086,47.924731,105.265233,25.763066,89.777003,...,4.37,9.5,90.4,34.9,31.6,3.8,15.5,97.0,21.0,19.0
1,248364,141515,2014-04-05,2014-04-04,0,68.147368,51.291228,99.049123,23.763889,101.937500,...,3.29,7.6,92.1,34.3,31.6,10.0,16.7,154.0,21.0,14.0
2,248364,141515,2014-04-06,2014-04-04,0,78.180556,57.565972,111.343750,23.731707,109.117021,...,3.34,7.9,91.6,33.7,30.8,12.9,17.3,105.0,22.0,13.0
3,248364,141515,2014-04-07,2014-04-04,0,82.724739,57.696864,123.606272,33.772727,79.000000,...,3.14,8.2,91.4,33.8,30.9,11.7,17.0,123.0,22.0,12.0
4,248364,141515,2014-04-08,2014-04-04,0,75.000000,53.103306,114.359504,30.335664,81.479021,...,2.86,8.0,95.1,33.1,31.5,9.9,17.2,116.0,22.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112565,3521842,3352884,2014-01-29,2014-01-28,0,89.946929,66.934130,137.592436,19.909722,100.312500,...,3.37,8.1,92.0,35.0,32.0,14.4,13.7,62.0,19.0,6.0
112566,3521842,3352884,2014-01-30,2014-01-28,0,73.849266,50.696327,127.106241,21.030612,82.459184,...,3.32,7.8,92.0,35.0,33.0,11.4,14.1,98.0,21.0,3.0
112571,358073,3352922,2015-06-02,2015-06-01,0,78.000000,64.023256,97.302326,17.929821,77.197917,...,4.10,8.0,88.0,33.0,29.0,8.7,17.5,143.0,25.0,7.0
112572,358073,3352922,2015-06-03,2015-06-01,0,106.010242,78.054524,160.937190,19.117647,97.704861,...,3.80,8.5,87.0,33.0,29.0,6.9,17.4,159.0,25.0,7.0
112573,358073,3352922,2015-06-04,2015-06-01,0,77.213459,57.167058,122.454294,19.329032,99.529032,...,3.65,8.4,87.0,34.0,30.0,3.8,17.1,113.0,27.0,6.0

In [19]:
len(mergedDf.visit_occurrence_id.unique())

11146

## Save the merged data to a file

In [20]:
mergedDf.to_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '/data/final/data_matrix.csv', index=False)