# Calculate SAPS II

## Read necessary files

In [2]:
import os
import pandas as pd


labsDf = pd.read_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '/data/eICU/lab.csv')
datamatrixDf = pd.read_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '/data/final/data_matrix.csv')

labsDf.shape, datamatrixDf.shape

((39132531, 10), (56237, 125))

In [3]:
apachePredDf = pd.read_csv('/superbugai-data/physionet.org/physionet.org/files/eicu-crd/2.0/apachePredVar.csv')
apacheApsDf = pd.read_csv('/superbugai-data/physionet.org/physionet.org/files/eicu-crd/2.0/apacheApsVar.csv')
admissionDxDf = pd.read_csv('/superbugai-data/physionet.org/physionet.org/files/eicu-crd/2.0/admissionDx.csv')

apachePredDf.shape, apacheApsDf.shape, admissionDxDf.shape

((171177, 51), (171177, 26), (626858, 6))

In [4]:
import os
import pandas as pd


patientsDf = pd.read_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '/data/eICU/patient.csv')

patientsDf.shape

(200859, 29)

In [5]:
datamatrixDf

,person_id,visit_occurrence_id,measurement_date,visit_start_date_adm,death_adm,vitals_systemic_mean_avg,vitals_systemic_diastolic_avg,vitals_systemic_systolic_avg,vitals_respiration_avg,vitals_heartrate_avg,...,labs_Red blood cell count_last,labs_Calcium level_last,labs_MCV - Mean corpuscular volume_last,labs_MCHC - Mean corpuscular haemoglobin concentration_last,labs_MCH - Mean corpuscular haemoglobin_last,labs_White blood cell count_last,labs_Red blood cell distribution width_last,labs_Glucose level_last,labs_Bicarbonate level_last,labs_Anion gap_last
0,248364,141515,2014-04-04,2014-04-04,0,65.344086,47.924731,105.265233,25.763066,89.777003,...,4.37,9.5,90.4,34.9,31.6,3.8,15.5,97.0,21.0,19.0
1,248364,141515,2014-04-05,2014-04-04,0,68.147368,51.291228,99.049123,23.763889,101.937500,...,3.29,7.6,92.1,34.3,31.6,10.0,16.7,154.0,21.0,14.0
2,248364,141515,2014-04-06,2014-04-04,0,78.180556,57.565972,111.343750,23.731707,109.117021,...,3.34,7.9,91.6,33.7,30.8,12.9,17.3,105.0,22.0,13.0
3,248364,141515,2014-04-07,2014-04-04,0,82.724739,57.696864,123.606272,33.772727,79.000000,...,3.14,8.2,91.4,33.8,30.9,11.7,17.0,123.0,22.0,12.0
4,248364,141515,2014-04-08,2014-04-04,0,75.000000,53.103306,114.359504,30.335664,81.479021,...,2.86,8.0,95.1,33.1,31.5,9.9,17.2,116.0,22.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56232,3521842,3352884,2014-01-29,2014-01-28,0,89.946929,66.934130,137.592436,19.909722,100.312500,...,3.37,8.1,92.0,35.0,32.0,14.4,13.7,62.0,19.0,6.0
56233,3521842,3352884,2014-01-30,2014-01-28,0,73.849266,50.696327,127.106241,21.030612,82.459184,...,3.32,7.8,92.0,35.0,33.0,11.4,14.1,98.0,21.0,3.0
56234,358073,3352922,2015-06-02,2015-06-01,0,78.000000,64.023256,97.302326,17.929821,77.197917,...,4.10,8.0,88.0,33.0,29.0,8.7,17.5,143.0,25.0,7.0
56235,358073,3352922,2015-06-03,2015-06-01,0,106.010242,78.054524,160.937190,19.117647,97.704861,...,3.80,8.5,87.0,33.0,29.0,6.9,17.4,159.0,25.0,7.0
56236,358073,3352922,2015-06-04,2015-06-01,0,77.213459,57.167058,122.454294,19.329032,99.529032,...,3.65,8.4,87.0,34.0,30.0,3.8,17.1,113.0,27.0,6.0

## Obtain `potassium` results for the cohort

In [5]:
potassiumDf = labsDf[(labsDf.labname == 'potassium') & (labsDf.patientunitstayid.isin(datamatrixDf.visit_occurrence_id))]
potassiumDf

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset
6604,49139747,141515,2040,1,potassium,3.3,3.3,mmol/L,mmol/L,2074
6638,47101256,141515,270,1,potassium,4.0,4.0,mmol/L,mmol/L,276
6646,46697951,141515,-977,1,potassium,4.2,4.2,mmol/L,mmol/L,-942
6674,46159486,141515,-1290,1,potassium,4.6,4.6,mmol/L,mmol/L,-1238
6696,49696837,141515,-215,1,potassium,3.9,3.9,mmol/L,mmol/L,-165
...,...,...,...,...,...,...,...,...,...,...
39115871,823921392,3352922,7521,1,potassium,3.5,3.5,mmol/L,mmol/L,7560
39115876,822196739,3352922,4803,1,potassium,3.8,3.8,mmol/L,mmol/L,4861
39115878,823207865,3352922,13940,1,potassium,3.6,3.6,mmol/L,mmol/L,14006
39115885,822593893,3352922,13359,1,potassium,3.5,3.5,mmol/L,mmol/L,13420
39115907,823978176,3352922,8928,1,potassium,3.4,3.4,mmol/L,mmol/L,8966

In [6]:
potassiumDf = potassiumDf.merge(patientsDf[['patientunitstayid', 'unitdischargeoffset']], on='patientunitstayid')
potassiumDf

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset,unitdischargeoffset
0,49139747,141515,2040,1,potassium,3.3,3.3,mmol/L,mmol/L,2074,8882
1,47101256,141515,270,1,potassium,4.0,4.0,mmol/L,mmol/L,276,8882
2,46697951,141515,-977,1,potassium,4.2,4.2,mmol/L,mmol/L,-942,8882
3,46159486,141515,-1290,1,potassium,4.6,4.6,mmol/L,mmol/L,-1238,8882
4,49696837,141515,-215,1,potassium,3.9,3.9,mmol/L,mmol/L,-165,8882
...,...,...,...,...,...,...,...,...,...,...,...
147973,823921392,3352922,7521,1,potassium,3.5,3.5,mmol/L,mmol/L,7560,5096
147974,822196739,3352922,4803,1,potassium,3.8,3.8,mmol/L,mmol/L,4861,5096
147975,823207865,3352922,13940,1,potassium,3.6,3.6,mmol/L,mmol/L,14006,5096
147976,822593893,3352922,13359,1,potassium,3.5,3.5,mmol/L,mmol/L,13420,5096
147977,823978176,3352922,8928,1,potassium,3.4,3.4,mmol/L,mmol/L,8966,5096

In [7]:
potassiumDf = potassiumDf[(potassiumDf.labresultoffset > potassiumDf.unitdischargeoffset - (60*24)) & (potassiumDf.labresultoffset < potassiumDf.unitdischargeoffset)]
potassiumDf

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset,unitdischargeoffset
6,47220730,141515,8714,1,potassium,3.8,3.8,mmol/L,mmol/L,8755,8882
9,47994881,141515,8345,1,potassium,3.1,3.1,mmol/L,mmol/L,8375,8882
11,46531401,141515,7901,1,potassium,3.5,3.5,mmol/L,mmol/L,7923,8882
24,47117930,141751,4559,1,potassium,3.3,3.3,mmol/L,mmol/L,4590,5189
32,46513790,141751,5084,1,potassium,3.3,3.3,mmol/L,mmol/L,5101,5189
...,...,...,...,...,...,...,...,...,...,...,...
147918,822445379,3352634,6360,1,potassium,4.1,4.1,mmol/L,mmol/L,6392,6903
147933,824090426,3352711,11726,1,potassium,4.2,4.2,mmol/L,mmol/L,11762,12700
147951,822255098,3352884,2489,1,potassium,3.9,3.9,mmol/L,mmol/L,2525,3390
147970,823585377,3352922,4508,1,potassium,3.3,3.3,mmol/L,mmol/L,4542,5096
147974,822196739,3352922,4803,1,potassium,3.8,3.8,mmol/L,mmol/L,4861,5096

In [8]:
potassiumDf['sortcolumn'] = (potassiumDf.labresult - 4).abs()
potassiumDf

/tmp/ipykernel_447626/2938229589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  potassiumDf['sortcolumn'] = (potassiumDf.labresult - 4).abs()

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset,unitdischargeoffset,sortcolumn
6,47220730,141515,8714,1,potassium,3.8,3.8,mmol/L,mmol/L,8755,8882,0.2
9,47994881,141515,8345,1,potassium,3.1,3.1,mmol/L,mmol/L,8375,8882,0.9
11,46531401,141515,7901,1,potassium,3.5,3.5,mmol/L,mmol/L,7923,8882,0.5
24,47117930,141751,4559,1,potassium,3.3,3.3,mmol/L,mmol/L,4590,5189,0.7
32,46513790,141751,5084,1,potassium,3.3,3.3,mmol/L,mmol/L,5101,5189,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...
147918,822445379,3352634,6360,1,potassium,4.1,4.1,mmol/L,mmol/L,6392,6903,0.1
147933,824090426,3352711,11726,1,potassium,4.2,4.2,mmol/L,mmol/L,11762,12700,0.2
147951,822255098,3352884,2489,1,potassium,3.9,3.9,mmol/L,mmol/L,2525,3390,0.1
147970,823585377,3352922,4508,1,potassium,3.3,3.3,mmol/L,mmol/L,4542,5096,0.7
147974,822196739,3352922,4803,1,potassium,3.8,3.8,mmol/L,mmol/L,4861,5096,0.2

In [9]:
potassiumDf = potassiumDf.sort_values(['patientunitstayid','sortcolumn'], ascending=False).groupby('patientunitstayid').first().reset_index()
potassiumDf

,patientunitstayid,labid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset,unitdischargeoffset,sortcolumn
0,141515,47994881,8345,1,potassium,3.1,3.1,mmol/L,mmol/L,8375,8882,0.9
1,141751,47117930,4559,1,potassium,3.3,3.3,mmol/L,mmol/L,4590,5189,0.7
2,141959,44118893,5895,1,potassium,3.7,3.7,mmol/L,mmol/L,5935,7145,0.3
3,142483,45175519,41485,1,potassium,4.1,4.1,mmol/L,mmol/L,41537,42219,0.1
4,143466,43472417,13295,1,potassium,5.8,5.8,mmol/L,mmol/L,13396,13963,1.8
...,...,...,...,...,...,...,...,...,...,...,...,...
10202,3352633,823285903,8180,1,potassium,4.0,4.0,mmol/L,mmol/L,8209,8706,0.0
10203,3352634,822445379,6360,1,potassium,4.1,4.1,mmol/L,mmol/L,6392,6903,0.1
10204,3352711,824090426,11726,1,potassium,4.2,4.2,mmol/L,mmol/L,11762,12700,0.2
10205,3352884,822255098,2489,1,potassium,3.9,3.9,mmol/L,mmol/L,2525,3390,0.1
10206,3352922,823585377,4508,1,potassium,3.3,3.3,mmol/L,mmol/L,4542,5096,0.7

In [10]:
potassiumDf[['patientunitstayid', 'labresult']].to_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '/data/saps_ii/potassium.csv', index=False)

## Obtain `bicarbonate` results for the cohort

In [11]:
bicarbonateDf = labsDf[(labsDf.labname == 'bicarbonate') & (labsDf.patientunitstayid.isin(datamatrixDf.visit_occurrence_id))]
bicarbonateDf

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset
6605,46159493,141515,-1290,1,bicarbonate,26.0,26,mmol/L,mmol/L,-1238
6662,47652848,141515,6935,1,bicarbonate,22.0,22,mmol/L,mmol/L,6982
6670,46697958,141515,-977,1,bicarbonate,21.0,21,mmol/L,mmol/L,-942
6695,47994885,141515,8345,1,bicarbonate,27.0,27,mmol/L,mmol/L,8375
6704,48947252,141515,4075,1,bicarbonate,22.0,22,mmol/L,mmol/L,4148
...,...,...,...,...,...,...,...,...,...,...
39115797,822963198,3352922,10376,1,bicarbonate,32.0,32,mmol/L,mmol/L,10411
39115812,823406321,3352922,-199,1,bicarbonate,25.0,25,mmol/L,mmol/L,-174
39115861,823068988,3352922,256,1,bicarbonate,21.0,21,mmol/L,mmol/L,290
39115911,823921394,3352922,7521,1,bicarbonate,29.0,29,mmol/L,mmol/L,7560
39115923,823978178,3352922,8928,1,bicarbonate,31.0,31,mmol/L,mmol/L,8966

In [12]:
bicarbonateDf = bicarbonateDf.merge(patientsDf[['patientunitstayid', 'unitdischargeoffset']], on='patientunitstayid')
bicarbonateDf

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset,unitdischargeoffset
0,46159493,141515,-1290,1,bicarbonate,26.0,26,mmol/L,mmol/L,-1238,8882
1,47652848,141515,6935,1,bicarbonate,22.0,22,mmol/L,mmol/L,6982,8882
2,46697958,141515,-977,1,bicarbonate,21.0,21,mmol/L,mmol/L,-942,8882
3,47994885,141515,8345,1,bicarbonate,27.0,27,mmol/L,mmol/L,8375,8882
4,48947252,141515,4075,1,bicarbonate,22.0,22,mmol/L,mmol/L,4148,8882
...,...,...,...,...,...,...,...,...,...,...,...
116871,822963198,3352922,10376,1,bicarbonate,32.0,32,mmol/L,mmol/L,10411,5096
116872,823406321,3352922,-199,1,bicarbonate,25.0,25,mmol/L,mmol/L,-174,5096
116873,823068988,3352922,256,1,bicarbonate,21.0,21,mmol/L,mmol/L,290,5096
116874,823921394,3352922,7521,1,bicarbonate,29.0,29,mmol/L,mmol/L,7560,5096
116875,823978178,3352922,8928,1,bicarbonate,31.0,31,mmol/L,mmol/L,8966,5096

In [13]:
bicarbonateDf = bicarbonateDf[(bicarbonateDf.labresultoffset > bicarbonateDf.unitdischargeoffset - (60*24)) & (bicarbonateDf.labresultoffset < bicarbonateDf.unitdischargeoffset)]
bicarbonateDf

,labid,patientunitstayid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset,unitdischargeoffset
3,47994885,141515,8345,1,bicarbonate,27.0,27,mmol/L,mmol/L,8375,8882
21,47117934,141751,4559,1,bicarbonate,23.0,23,mmol/L,mmol/L,4590,5189
29,48342067,141959,6195,1,bicarbonate,30.0,30,mmol/L,mmol/L,6254,7145
65,45175526,142483,41485,1,bicarbonate,28.0,28,mmol/L,mmol/L,41537,42219
78,43472421,143466,13295,1,bicarbonate,27.0,27,mmol/L,mmol/L,13396,13963
...,...,...,...,...,...,...,...,...,...,...,...
116809,823285907,3352633,8180,1,bicarbonate,31.0,31,mmol/L,mmol/L,8209,8706
116825,822445383,3352634,6360,1,bicarbonate,36.0,36,mmol/L,mmol/L,6392,6903
116838,824090430,3352711,11726,1,bicarbonate,29.0,29,mmol/L,mmol/L,11762,12700
116857,822255105,3352884,2489,1,bicarbonate,21.0,21,mmol/L,mmol/L,2525,3390
116869,823585381,3352922,4508,1,bicarbonate,27.0,27,mmol/L,mmol/L,4542,5096

In [14]:
bicarbonateDf = bicarbonateDf.sort_values(['patientunitstayid', 'labresult'], ascending=True).groupby('patientunitstayid').first().reset_index()
bicarbonateDf

,patientunitstayid,labid,labresultoffset,labtypeid,labname,labresult,labresulttext,labmeasurenamesystem,labmeasurenameinterface,labresultrevisedoffset,unitdischargeoffset
0,141515,47994885,8345,1,bicarbonate,27.0,27,mmol/L,mmol/L,8375,8882
1,141751,47117934,4559,1,bicarbonate,23.0,23,mmol/L,mmol/L,4590,5189
2,141959,48342067,6195,1,bicarbonate,30.0,30,mmol/L,mmol/L,6254,7145
3,142483,45175526,41485,1,bicarbonate,28.0,28,mmol/L,mmol/L,41537,42219
4,143466,43472421,13295,1,bicarbonate,27.0,27,mmol/L,mmol/L,13396,13963
...,...,...,...,...,...,...,...,...,...,...,...
9106,3352633,823285907,8180,1,bicarbonate,31.0,31,mmol/L,mmol/L,8209,8706
9107,3352634,822445383,6360,1,bicarbonate,36.0,36,mmol/L,mmol/L,6392,6903
9108,3352711,824090430,11726,1,bicarbonate,29.0,29,mmol/L,mmol/L,11762,12700
9109,3352884,822255105,2489,1,bicarbonate,21.0,21,mmol/L,mmol/L,2525,3390
9110,3352922,823585381,4508,1,bicarbonate,27.0,27,mmol/L,mmol/L,4542,5096

In [15]:
bicarbonateDf[['patientunitstayid', 'labresult']].to_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '/data/saps_ii/bicarbonate.csv', index=False)

## Obtain `Type of admission` for the cohort

In [6]:
patientsDf

,patientunitstayid,patienthealthsystemstayid,gender,age,ethnicity,hospitalid,wardid,apacheadmissiondx,admissionheight,hospitaladmittime24,...,unitadmitsource,unitvisitnumber,unitstaytype,admissionweight,dischargeweight,unitdischargetime24,unitdischargeoffset,unitdischargelocation,unitdischargestatus,uniquepid
0,141168,128919,Female,70,Caucasian,59,91,"Rhythm disturbance (atrial, supraventricular)",152.4,15:54:00,...,Direct Admit,1,admit,84.3,85.8,03:50:00,3596,Death,Expired,002-34851
1,141178,128927,Female,52,Caucasian,60,83,NaN,162.6,08:56:00,...,Emergency Department,1,admit,54.4,54.4,09:18:00,8,Step-Down Unit (SDU),Alive,002-33870
2,141179,128927,Female,52,Caucasian,60,83,NaN,162.6,08:56:00,...,ICU to SDU,2,stepdown/other,NaN,60.4,19:20:00,2042,Home,Alive,002-33870
3,141194,128941,Male,68,Caucasian,73,92,"Sepsis, renal/UTI (including bladder)",180.3,18:18:40,...,Floor,1,admit,73.9,76.7,15:31:00,4813,Floor,Alive,002-5276
4,141196,128943,Male,71,Caucasian,67,109,NaN,162.6,20:21:00,...,ICU to SDU,2,stepdown/other,NaN,63.2,22:23:00,1463,Floor,Alive,002-37665
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200854,3353235,2743084,Male,50,Caucasian,458,1109,"CHF, congestive heart failure",175.3,04:55:00,...,Emergency Department,1,admit,90.0,99.2,23:18:00,1069,Telemetry,Alive,035-16382
200855,3353237,2743086,Female,79,Caucasian,458,1106,"Embolus, pulmonary",162.6,01:45:00,...,Direct Admit,1,admit,78.4,81.4,23:08:00,1269,Step-Down Unit (SDU),Alive,035-751
200856,3353251,2743099,Male,73,African American,458,1104,Cardiac arrest (with or without respiratory ar...,177.8,12:51:00,...,Emergency Department,1,admit,102.0,96.2,23:16:00,16259,Telemetry,Alive,035-5166
200857,3353254,2743102,Male,81,Caucasian,459,1108,"Bleeding, lower GI",185.4,07:43:00,...,Emergency Department,1,admit,83.9,92.9,19:25:00,431,Step-Down Unit (SDU),Alive,035-19511
200858,3353263,2743110,Male,35,African American,458,1106,"Embolus, pulmonary",182.9,03:22:00,...,Emergency Department,1,admit,100.8,100.8,20:38:00,928,Telemetry,Alive,035-22638

In [7]:
dataDf = datamatrixDf[['visit_occurrence_id']]\
    .merge(admissionDxDf[['patientunitstayid', 'admitdxpath']], left_on='visit_occurrence_id', right_on='patientunitstayid')\
    .drop(columns=['patientunitstayid'])\
    .merge(patientsDf[['patientunitstayid', 'hospitaladmitsource', 'age']], left_on='visit_occurrence_id', right_on='patientunitstayid')\
    .drop(columns=['patientunitstayid'])\
    .merge(apachePredDf[['patientunitstayid', 'electivesurgery']], left_on='visit_occurrence_id', right_on='patientunitstayid')\
    .drop(columns=['patientunitstayid'])
dataDf

,visit_occurrence_id,admitdxpath,hospitaladmitsource,age,electivesurgery
0,141515,admission diagnosis|Was the patient admitted f...,NaN,68,NaN
1,141515,admission diagnosis|All Diagnosis|Non-operativ...,NaN,68,NaN
2,141515,admission diagnosis|Non-operative Organ System...,NaN,68,NaN
3,141515,admission diagnosis|Was the patient admitted f...,NaN,68,NaN
4,141515,admission diagnosis|All Diagnosis|Non-operativ...,NaN,68,NaN
...,...,...,...,...,...
169466,3352922,admission diagnosis|All Diagnosis|Non-operativ...,Emergency Department,77,NaN
169467,3352922,admission diagnosis|Non-operative Organ System...,Emergency Department,77,NaN
169468,3352922,admission diagnosis|Was the patient admitted f...,Emergency Department,77,NaN
169469,3352922,admission diagnosis|All Diagnosis|Non-operativ...,Emergency Department,77,NaN
169470,3352922,admission diagnosis|Non-operative Organ System...,Emergency Department,77,NaN

In [8]:
dataDf['surgicalpatient'] = (dataDf.admitdxpath.str.contains('All Diagnosis|Operative') & dataDf.hospitaladmitsource.isin(['Operating Room', 'Recovery Room', 'PACU']))
dataDf

,visit_occurrence_id,admitdxpath,hospitaladmitsource,age,electivesurgery,surgicalpatient
0,141515,admission diagnosis|Was the patient admitted f...,NaN,68,NaN,False
1,141515,admission diagnosis|All Diagnosis|Non-operativ...,NaN,68,NaN,False
2,141515,admission diagnosis|Non-operative Organ System...,NaN,68,NaN,False
3,141515,admission diagnosis|Was the patient admitted f...,NaN,68,NaN,False
4,141515,admission diagnosis|All Diagnosis|Non-operativ...,NaN,68,NaN,False
...,...,...,...,...,...,...
169466,3352922,admission diagnosis|All Diagnosis|Non-operativ...,Emergency Department,77,NaN,False
169467,3352922,admission diagnosis|Non-operative Organ System...,Emergency Department,77,NaN,False
169468,3352922,admission diagnosis|Was the patient admitted f...,Emergency Department,77,NaN,False
169469,3352922,admission diagnosis|All Diagnosis|Non-operativ...,Emergency Department,77,NaN,False
169470,3352922,admission diagnosis|Non-operative Organ System...,Emergency Department,77,NaN,False

In [9]:
dataDf['Scheduled surgical'] = ((dataDf.surgicalpatient) & (dataDf.electivesurgery == 1))
dataDf

,visit_occurrence_id,admitdxpath,hospitaladmitsource,age,electivesurgery,surgicalpatient,Scheduled surgical
0,141515,admission diagnosis|Was the patient admitted f...,NaN,68,NaN,False,False
1,141515,admission diagnosis|All Diagnosis|Non-operativ...,NaN,68,NaN,False,False
2,141515,admission diagnosis|Non-operative Organ System...,NaN,68,NaN,False,False
3,141515,admission diagnosis|Was the patient admitted f...,NaN,68,NaN,False,False
4,141515,admission diagnosis|All Diagnosis|Non-operativ...,NaN,68,NaN,False,False
...,...,...,...,...,...,...,...
169466,3352922,admission diagnosis|All Diagnosis|Non-operativ...,Emergency Department,77,NaN,False,False
169467,3352922,admission diagnosis|Non-operative Organ System...,Emergency Department,77,NaN,False,False
169468,3352922,admission diagnosis|Was the patient admitted f...,Emergency Department,77,NaN,False,False
169469,3352922,admission diagnosis|All Diagnosis|Non-operativ...,Emergency Department,77,NaN,False,False
169470,3352922,admission diagnosis|Non-operative Organ System...,Emergency Department,77,NaN,False,False

In [10]:
dataDf['Unscheduled surgical'] = ((dataDf.surgicalpatient) & (~dataDf['Scheduled surgical']))
dataDf

,visit_occurrence_id,admitdxpath,hospitaladmitsource,age,electivesurgery,surgicalpatient,Scheduled surgical,Unscheduled surgical
0,141515,admission diagnosis|Was the patient admitted f...,NaN,68,NaN,False,False,False
1,141515,admission diagnosis|All Diagnosis|Non-operativ...,NaN,68,NaN,False,False,False
2,141515,admission diagnosis|Non-operative Organ System...,NaN,68,NaN,False,False,False
3,141515,admission diagnosis|Was the patient admitted f...,NaN,68,NaN,False,False,False
4,141515,admission diagnosis|All Diagnosis|Non-operativ...,NaN,68,NaN,False,False,False
...,...,...,...,...,...,...,...,...
169466,3352922,admission diagnosis|All Diagnosis|Non-operativ...,Emergency Department,77,NaN,False,False,False
169467,3352922,admission diagnosis|Non-operative Organ System...,Emergency Department,77,NaN,False,False,False
169468,3352922,admission diagnosis|Was the patient admitted f...,Emergency Department,77,NaN,False,False,False
169469,3352922,admission diagnosis|All Diagnosis|Non-operativ...,Emergency Department,77,NaN,False,False,False
169470,3352922,admission diagnosis|Non-operative Organ System...,Emergency Department,77,NaN,False,False,False

In [11]:
dataDf['Medical'] = ((~dataDf['Scheduled surgical']) & (~dataDf['Unscheduled surgical']))
dataDf

,visit_occurrence_id,admitdxpath,hospitaladmitsource,age,electivesurgery,surgicalpatient,Scheduled surgical,Unscheduled surgical,Medical
0,141515,admission diagnosis|Was the patient admitted f...,NaN,68,NaN,False,False,False,True
1,141515,admission diagnosis|All Diagnosis|Non-operativ...,NaN,68,NaN,False,False,False,True
2,141515,admission diagnosis|Non-operative Organ System...,NaN,68,NaN,False,False,False,True
3,141515,admission diagnosis|Was the patient admitted f...,NaN,68,NaN,False,False,False,True
4,141515,admission diagnosis|All Diagnosis|Non-operativ...,NaN,68,NaN,False,False,False,True
...,...,...,...,...,...,...,...,...,...
169466,3352922,admission diagnosis|All Diagnosis|Non-operativ...,Emergency Department,77,NaN,False,False,False,True
169467,3352922,admission diagnosis|Non-operative Organ System...,Emergency Department,77,NaN,False,False,False,True
169468,3352922,admission diagnosis|Was the patient admitted f...,Emergency Department,77,NaN,False,False,False,True
169469,3352922,admission diagnosis|All Diagnosis|Non-operativ...,Emergency Department,77,NaN,False,False,False,True
169470,3352922,admission diagnosis|Non-operative Organ System...,Emergency Department,77,NaN,False,False,False,True

In [12]:
dataDf['admissiontype'] = dataDf.apply(lambda x: ('Scheduled surgical' if x['Scheduled surgical'] else ('Unscheduled surgical' if x['Unscheduled surgical'] else 'Medical')) , axis = 1)
dataDf

,visit_occurrence_id,admitdxpath,hospitaladmitsource,age,electivesurgery,surgicalpatient,Scheduled surgical,Unscheduled surgical,Medical,admissiontype
0,141515,admission diagnosis|Was the patient admitted f...,NaN,68,NaN,False,False,False,True,Medical
1,141515,admission diagnosis|All Diagnosis|Non-operativ...,NaN,68,NaN,False,False,False,True,Medical
2,141515,admission diagnosis|Non-operative Organ System...,NaN,68,NaN,False,False,False,True,Medical
3,141515,admission diagnosis|Was the patient admitted f...,NaN,68,NaN,False,False,False,True,Medical
4,141515,admission diagnosis|All Diagnosis|Non-operativ...,NaN,68,NaN,False,False,False,True,Medical
...,...,...,...,...,...,...,...,...,...,...
169466,3352922,admission diagnosis|All Diagnosis|Non-operativ...,Emergency Department,77,NaN,False,False,False,True,Medical
169467,3352922,admission diagnosis|Non-operative Organ System...,Emergency Department,77,NaN,False,False,False,True,Medical
169468,3352922,admission diagnosis|Was the patient admitted f...,Emergency Department,77,NaN,False,False,False,True,Medical
169469,3352922,admission diagnosis|All Diagnosis|Non-operativ...,Emergency Department,77,NaN,False,False,False,True,Medical
169470,3352922,admission diagnosis|Non-operative Organ System...,Emergency Department,77,NaN,False,False,False,True,Medical

In [13]:
dataDf.to_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '/data/saps_ii/admissiontype.csv', index=False)